html {
    box-sizing: border-box;
  }
  
*,
*:before,
*:after {
  box-sizing: inherit;
}

button, input {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
  justify-content: center;
}

.container > div {
  width: 526px;
  margin: 0 auto;
  margin-top: 25px;
}

#search-container {
  display: inline-block;
  position: relative;
  width: 450px;
}

.full-width {
  width: 100%;
}

input[type="search"] {
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 5px;
}

#searchForm > button {
  padding: 5px 10px;  border-radius: 5px;
  border-radius: 5px;
}

#suggestions {
  position: absolute;
  top: 100%;
  z-index: 9999;
}

.border {
  border: 1px solid #000;
}

.no-top-border {
  border-top: none;
}

.suggestion {
  padding: 5px 10px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.suggestion:hover {
  background-color: lightgray;
}

#weather {
  display: flex;
  white-space: nowrap;
}

#weather-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-left: 0;
}

.align-right {
  text-align: right;
}

h2 {
  font-size: 1.25rem;
  margin: 0;
}

#location-container {
  padding: 10px;
}

#coordinates {
  font-size: .9rem;
  margin: 0;
}

#coordinates > span {
  font-weight: bold;
}

#weather-icon {
  height: 100px;
  width: 100px;
}

#weather #description {
  text-transform: capitalize;
  margin-bottom: 0;
}

#weather #temp {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

#main {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

#location-container {
  background-color: #ddd;
  border-bottom: 1px solid #000;
}